*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
target/
test-output/
.externalToolBuilders/
*.launch
.cproject
.buildpath
.springBeans
cas.log
perfStats.log
*.iml
.idea
overlays
pac4j-test-cas/overlays/
build
.project
.classpath
.settings
bin
classes
*.class
*.war
*.ear
*.jar
.gradle
.DS_Store
*~

