*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
test-output/
.externalToolBuilders/
*.launch
.cproject
.buildpath
.springBeans
cas.log
perfStats.log
*.iml
.idea
overlays
pac4j-test-cas/overlays/
.DS_Store
documentation/_site/
.fbExcludeFilterFile
.pmd
.pmdruleset.xml
pac4j-saml/testKeystore.jks
.factorypath
pac4j-saml/saml-signing-cert.*
krb5.conf
documentation/.jekyll-cache/
dependency-reduced-pom.xml
.vscode
