body {
	padding-bottom: 60px;
}
.navbar {
	margin-bottom: 20px;
}
h1 {
	font-size: 26px !important;
	margin-top: 25px;
	margin-bottom: 15px;
}
h2 {
	font-size: 22px !important;
	padding-left: 10px !important;
	margin-top: 25px;
	margin-bottom: 15px;
}
h3 {
	font-size: 18px !important;
	padding-left: 20px !important;
	margin-top: 25px;
	margin-bottom: 15px;
}
hr {
	margin-top: 40px;
	margin-bottom: 40px;
}
code {
	color: inherit !important;
}
#content a:hover {
	text-decoration: none !important;
}
img, table, th, td, .highlight { 
   border:1px solid #BBBBBB;
}
th {
	text-align: center;
}
#bannerImage {
	border:0;
}
p {
	text-align: justify;
}
.text-center {
	text-align: center;
	width: 100%;
}
.highlight {
	padding: 10px 10px 10px 10px
}
.nav-link {
	padding-right: 30px;
}