{% include header.html %}

    <nav class="navbar navbar-light bg-faded">

      <div class="container">

        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">HOME</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/gettingstarted.html">GETTING STARTED</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/implementations.html">IMPLEMENTATIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/docs/alldocs.html">DOCUMENTATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contributors.html">CONTRIBUTORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mailing-lists.html">NEED HELP?</a>
          </li>
        </ul>

      </div>
    </nav>

    <div id="content" class="container">

      <h1 class="text-center">{{ page.title }}</h1>
      <div><i>{{ page.author }} - {{ page.date }}</i></div><br />

		  {{ content }}

	</div>

{% include footer.html %}
