<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>pac4j test %d{HH:mm:ss} [%thread] %-5level %logger{10} - %msg%n%ex{full}</pattern>
		</encoder>
	</appender>

	<logger name="org.pac4j" level="DEBUG" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
